.cartBorder {
    box-shadow: 5px 5px 10px #888888;
    border-radius: 10px;
}

.modal-content {
    margin-top: 30px;
    padding: 10px;
}
.btn {
    margin: 5px;
}

.modal-body {
    margin-top: 20px;
    height: 300px;
    overflow-y: auto;
}

.inputQuantity {
    width: 30px;
    text-align: center;
}

.cartImg {
    width: 100px;
    height: 100px;

    box-shadow: 2px 2px 10px #888888;
}

.quantity {
    display: inline-block;
    height: 100px;
    width: 100%;
}

.btn-outline-danger {
    width: 80px;
}

.productPrice {
    width: 100%;
}
