.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #888;
}

.imgCarousel {
    display: block;
    height: 300px;
    padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
}
